.m-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.m-modal .wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  width: 400px;
  padding: 40px;
  background-color: #fff;
  font-size: 16px;
}
.m-modal .title {
  font-size: 20px;
  font-weight: bold;
}
.m-modal .content {
  margin-top: 20px;
  padding: 20px 0;
}
.m-modal .control {
  margin-top: 20px;
  text-align: right;
}
.m-modal .control a {
  margin-left: 20px;
}
.m-modal .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
}
