/* unit button */
.u-btn {
  display: inline-block;
  height: 35px;
  line-height: 33px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid transparent;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.u-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.u-btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  text-decoration: none;
  cursor: pointer;
}
.u-btn-default:active,
.u-btn-default.active {
  color: #333;
  background-color: #f2f2f2;
  border-color: #adadad;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.u-btn-default:active:hover,
.u-btn-default.active:hover {
  background-color: #e6e6e6;
}
.u-btn-default.disabled,
.u-btn-default[disabled] {
  opacity: .65;
  cursor: not-allowed;
}
.u-btn-default.disabled:hover,
.u-btn-default[disabled]:hover,
.u-btn-default.disabled:active,
.u-btn-default[disabled]:active,
.u-btn-default.disabled.active,
.u-btn-default[disabled].active {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  box-shadow: none;
}
.u-btn-default2 {
  color: #333;
  background-color: #eeeeee;
  border-color: #ccc;
}
.u-btn-default2:hover {
  color: #333;
  background-color: #d5d5d5;
  border-color: #adadad;
  text-decoration: none;
  cursor: pointer;
}
.u-btn-default2:active,
.u-btn-default2.active {
  color: #333;
  background-color: #e2e2e2;
  border-color: #adadad;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.u-btn-default2:active:hover,
.u-btn-default2.active:hover {
  background-color: #d5d5d5;
}
.u-btn-default2.disabled,
.u-btn-default2[disabled] {
  opacity: .65;
  cursor: not-allowed;
}
.u-btn-default2.disabled:hover,
.u-btn-default2[disabled]:hover,
.u-btn-default2.disabled:active,
.u-btn-default2[disabled]:active,
.u-btn-default2.disabled.active,
.u-btn-default2[disabled].active {
  color: #333;
  background-color: #eeeeee;
  border-color: #ccc;
  box-shadow: none;
}
.u-btn-primary {
  color: #fff;
  background-color: #225378;
  border-color: #1c4564;
}
.u-btn-primary:hover {
  color: #fff;
  background-color: #173850;
  border-color: #0f2434;
  text-decoration: none;
  cursor: pointer;
}
.u-btn-primary:active,
.u-btn-primary.active {
  color: #fff;
  background-color: #1c4564;
  border-color: #0f2434;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.u-btn-primary:active:hover,
.u-btn-primary.active:hover {
  background-color: #173850;
}
.u-btn-primary.disabled,
.u-btn-primary[disabled] {
  opacity: .65;
  cursor: not-allowed;
}
.u-btn-primary.disabled:hover,
.u-btn-primary[disabled]:hover,
.u-btn-primary.disabled:active,
.u-btn-primary[disabled]:active,
.u-btn-primary.disabled.active,
.u-btn-primary[disabled].active {
  color: #fff;
  background-color: #225378;
  border-color: #1c4564;
  box-shadow: none;
}
.u-btn-success {
  color: #fff;
  background-color: #1695a3;
  border-color: #13808d;
}
.u-btn-success:hover {
  color: #fff;
  background-color: #106c76;
  border-color: #0c4f57;
  text-decoration: none;
  cursor: pointer;
}
.u-btn-success:active,
.u-btn-success.active {
  color: #fff;
  background-color: #13808d;
  border-color: #0c4f57;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.u-btn-success:active:hover,
.u-btn-success.active:hover {
  background-color: #106c76;
}
.u-btn-success.disabled,
.u-btn-success[disabled] {
  opacity: .65;
  cursor: not-allowed;
}
.u-btn-success.disabled:hover,
.u-btn-success[disabled]:hover,
.u-btn-success.disabled:active,
.u-btn-success[disabled]:active,
.u-btn-success.disabled.active,
.u-btn-success[disabled].active {
  color: #fff;
  background-color: #1695a3;
  border-color: #13808d;
  box-shadow: none;
}
.u-btn-info {
  color: #fff;
  background-color: #4fedf2;
  border-color: #37ebf0;
}
.u-btn-info:hover {
  color: #fff;
  background-color: #20e8ee;
  border-color: #10d4da;
  text-decoration: none;
  cursor: pointer;
}
.u-btn-info:active,
.u-btn-info.active {
  color: #fff;
  background-color: #37ebf0;
  border-color: #10d4da;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.u-btn-info:active:hover,
.u-btn-info.active:hover {
  background-color: #20e8ee;
}
.u-btn-info.disabled,
.u-btn-info[disabled] {
  opacity: .65;
  cursor: not-allowed;
}
.u-btn-info.disabled:hover,
.u-btn-info[disabled]:hover,
.u-btn-info.disabled:active,
.u-btn-info[disabled]:active,
.u-btn-info.disabled.active,
.u-btn-info[disabled].active {
  color: #fff;
  background-color: #4fedf2;
  border-color: #37ebf0;
  box-shadow: none;
}
.u-btn-warning {
  color: #fff;
  background-color: #eb7f00;
  border-color: #d27100;
}
.u-btn-warning:hover {
  color: #fff;
  background-color: #b86300;
  border-color: #945000;
  text-decoration: none;
  cursor: pointer;
}
.u-btn-warning:active,
.u-btn-warning.active {
  color: #fff;
  background-color: #d27100;
  border-color: #945000;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.u-btn-warning:active:hover,
.u-btn-warning.active:hover {
  background-color: #b86300;
}
.u-btn-warning.disabled,
.u-btn-warning[disabled] {
  opacity: .65;
  cursor: not-allowed;
}
.u-btn-warning.disabled:hover,
.u-btn-warning[disabled]:hover,
.u-btn-warning.disabled:active,
.u-btn-warning[disabled]:active,
.u-btn-warning.disabled.active,
.u-btn-warning[disabled].active {
  color: #fff;
  background-color: #eb7f00;
  border-color: #d27100;
  box-shadow: none;
}
.u-btn-danger {
  color: #fff;
  background-color: #cf3b13;
  border-color: #b83411;
}
.u-btn-danger:hover {
  color: #fff;
  background-color: #a02e0f;
  border-color: #80240c;
  text-decoration: none;
  cursor: pointer;
}
.u-btn-danger:active,
.u-btn-danger.active {
  color: #fff;
  background-color: #b83411;
  border-color: #80240c;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.u-btn-danger:active:hover,
.u-btn-danger.active:hover {
  background-color: #a02e0f;
}
.u-btn-danger.disabled,
.u-btn-danger[disabled] {
  opacity: .65;
  cursor: not-allowed;
}
.u-btn-danger.disabled:hover,
.u-btn-danger[disabled]:hover,
.u-btn-danger.disabled:active,
.u-btn-danger[disabled]:active,
.u-btn-danger.disabled.active,
.u-btn-danger[disabled].active {
  color: #fff;
  background-color: #cf3b13;
  border-color: #b83411;
  box-shadow: none;
}
.u-btn-link {
  color: #225378;
  background-color: transparent;
  border-color: transparent;
}
.u-btn-lg2 {
  height: 45px;
  line-height: 43px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}
.u-btn-lg {
  height: 40px;
  line-height: 38px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
}
.u-btn-sm {
  height: 30px;
  line-height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 10px;
}
.u-btn-xs {
  height: 25px;
  line-height: 23px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
}
.u-btn-block {
  display: block;
  width: 100%;
}
.u-btn-w {
  min-width: 100px;
}
