input,
select {
  vertical-align: middle;
}
input.error {
  border-color: #cf3b13;
}
.u-ipt {
  padding: 0 10px;
  min-width: 200px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #a9a9a9;
  font-size: 14px;
}
.u-ipt:focus {
  border-color: #225378;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.u-ipt-block {
  display: block;
  width: 100%;
}
.u-ipt-w {
  width: 400px;
}
.u-ipt-lg {
  height: 40px;
  line-height: 40px;
}
.u-ipt-lg2 {
  height: 45px;
  line-height: 45px;
}
.u-ipt-group {
  position: relative;
  display: table;
}
.u-ipt-group .ipt-group-addon {
  display: table-cell;
  width: 1%;
  padding: 0 12px;
  border: 1px solid #a9a9a9;
  border-width: 1px 1px 1px 0;
  white-space: nowrap;
  background-color: #ddd;
  vertical-align: middle;
}
.u-ipt-group .ipt-group-addon.yzm {
  padding: 0;
}
.u-ipt-group .u-ipt {
  display: table-cell;
  width: 100%;
}
.u-textarea {
  padding: 10px;
  width: 100%;
  font-size: 14px;
}
.u-textarea:focus {
  border-color: #225378;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.u-radio,
.u-checkbox {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.u-select {
  min-width: 100px;
  height: 35px;
  padding: 6px 12px;
}
.u-select-block {
  display: block;
  width: 100%;
}
